.banner{ background-color: red;
          height:200px;
         width:150%;
         margin-bottom:70px;
            }
.banner-text{
      top:50%;
      left:50%;
      position:absolute;
      transform:transform;
              }